#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.menu-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.meal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.meal-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.recepie-list {
  list-style-type: none;
  padding: 0;
}

.recepie-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.recepie-text {
  font-size: 16px;
  margin: 0;
}

.instructions-text {
  font-size: 18px;
  margin-top: 20px;
}

.input-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.button-container {
  text-align: center;
}

.read-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.read-button:hover {
  background-color: #0056b3;
}

